:root {
  --bs-primary-rgb: 255, 237, 78;
  --primary-rgb-darker: 250, 225, 70;
}

.p5Canvas {
  display: none;
}

#header-hr {
  border-top: 5px solid black;
  opacity: 1;
}

.btn-primary {
  background-color: rgba(var(--bs-primary-rgb), 1);
  border: none;
}

.btn-primary:hover {
  background-color: rgba(var(--primary-rgb-darker), 1);
}

.btn-primary:focus {
  box-shadow: 0 0 0 .25rem rgba(var(--primary-rgb-darker), 0.5);
  background-color: rgba(var(--primary-rgb-darker), 1);
}

.btn-primary:active {
  background-color: rgba(var(--primary-rgb-darker), 1);
}

.btn-secondary {
  background-color: rgba(248, 249, 250, 1);
}

.btn-secondary:hover {
  background-color: rgba(239, 240, 241, 1);
}

.btn-secondary:focus {
  box-shadow: none;
  background-color: rgba(239, 240, 241, 1);
}

.btn-secondary:active {
  background-color: rgba(239, 240, 241, 1);
}

.text-muted {
  color: #ccc !important;
}

#upload-icon {
  width: 4rem;
}

#upload-window {
  height: 15rem;
}

@media (min-width: 768px) {
  #upload-window {
    height: 20rem;
  }
}

@media (min-width: 992px) {
  #upload-window {
    height: 30rem;
  }
}

#step-1 {
  display: none;
}

#player-button {
  width: 4rem;
  height: 4rem;
  display: block;
}

#stop-button {
  width: 1.8rem;
  height: 1.8rem;
  margin: auto;
  background-color: rgb(var(--bs-primary-rgb));
  border-radius: 0.2rem;
  display: none;
}

#play-button-img {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

#player {
  border-top-right-radius: 0 !important;
  height: 4rem;
}

#change-take-button-img {
  height: 1.25rem;
  margin: auto;
}

#change-takes-button {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0 !important;
}

.dropdown-item.active {
  background-color: rgba(var(--bs-primary-rgb), 1) !important;
  color: black;
  font-weight: bold !important;
}

.dropdown-item:active {
  background-color: white;
  color: black;
}

.time-markers::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid rgba(222, 226, 230);
  transform: translate(0, -0.5rem);
}

/* next two from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

input[type="number"] {
  text-align: center;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.in-out-labels {
  display: none;
}

input[type="number"]::placeholder {
  color: #ccc;
}
